<!DOCTYPE html>
<html>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
		<script type="text/javascript" src="javascripts/profile.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="stylesheets/profile.css">
	    <style type="text/css">
	    	body{
	    		padding-top:70px;
	    	}
	    </style>
	    <title><%= username %></title>
	</head>
	<body>
		<h1>This is company profile</h1>
	</body>
</html>