<html ng-app="HomepageApp">
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="stylesheets/profile.css">
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
	    </script>
	    <script src="javascripts/homepage.js"></script>

		<title>Homepage</title>
	</head>
	<body ng-controller="NewsController">
        <div class="container-fluid">
            <div class="message" ng-show="news.length == 0">
                <h1>Follow some users in order to have some tasks here</h1>
            </div>
            <div class="task" ng-repeat="feed in news">	
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <h2>{{feed.title + ' -'}} <a href="/{{feed.author}}">{{feed.author}}</a></h2>
                        <h4>{{feed.date|date:'medium'}}</h4>
                        <h3>{{feed.desc}} </h3>
                    </div>
                </div>  
            </div>
        </div>
	</body>
</html>