<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="stylesheets/profile.css">
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<title>Search results</title>
	</head>
	<body>
        
		
		<%for(var i=0;i<toShow.length;i++){%>
			<a href="/<%=toShow[i].name%>"><h2><%=toShow[i].name%></h2></a>
			<h4><%=toShow[i].type%></h4>
		<%}%>
	</body>
</html>