<!DOCTYPE html>
<html>
	<head>
		<title></title>
	</head>
	<body>
		<div ng-controller="MyTasksController">
			
			<div ng-show="usersTasks.length == 0">
				<h4>No tasks yet</h4> 
			</div>

			<div class="task" ng-repeat="task in usersTasks" id="{{task.title}}">

			<h2>{{task.title + ' -'}} <a href="/{{task.author}}">{{task.author}}</a></h2>

			<h4>{{task.date|date:'medium'}}</h4>

			<h3>{{task.desc}} </h3>



			</div>			

			<!--<%if(usersTasks.length == 0){%>
					<h3>No tasks yet</h3>
				<%}%>
				<% for (var i = usersTasks.length-1; i > -1; i--) { %>
					<div class="task" id="<%= usersTasks[i].title %>">
					
						<!--<h3><%=usersTasks[i].author%> </h3>-->
						<!--<p><%=usersTasks[i].source%> </p>-->
							<!--<h1>Comments</h1>
							<% for (var i2 = 0; i2 < usersTasks[i].comments.length; i2++) { %>
							<p><%=usersTasks[i].comments[i2].cauthor%> <%=usersTasks[i].comments[i2].comment%> </p>
							<% } %> 
						
					</div>
				<% } %> -->
		</div>
	</body>
</html>