
<div ng-controller="MyTasksController">
	
    <div ng-show="usersTasks.length == 0">
        <h4>No tasks yet</h4> 
    </div>
        <div class="task" ng-repeat="task in usersTasks track by $index" id="{{task.title}}">
        <div class="row">
            <div class="col-sm-11 col-md-11 col-lg-11">
            <h2>{{task.title + ' -'}} <a href="/{{task.author}}">{{task.author}}    </a></h2>

            <h4>{{task.date|date:'shortDate'}}</h4>

            <!-- <h3>{{desc}}</h3> -->
            <div ng-bind-html="'<h3>'+task.desc+'</h3>'"></div>
        </div>


        <div ng-show="authenticated == true" class="col-sm-1 col-md-1 col-lg-1">
            <a href="/removeTask/{{task.title}}">Remove</a>
        </div>
        </div>
        <div class="row">
            <div class="col-sm-5 col-md-5 col-lg-5">	
                <input class="btn btn-default add" type="submit" value="Solve" ng-show="solveList.indexOf(task.title + task.author) == -1 && authenticated == false" task="{{task}}" ng-click="addTask(task)">
                <input class="btn btn-default add" type="submit" value="Remove from list" ng-show="solveList.indexOf(task.title + task.author) != -1" task="{{task}}" ng-click="addTask(task)">
                <button class="btn btn-default" ng-show="authenticated == false && !liked[task.title]" ng-click="likeTask(task.author + '-' + task.title);sendNotification('like',task.author,'Task-'+task.title)" ng-like-button>Like</button><!-- <div ng-like ng-task-id="{{task.author + '-' + task.title}}"></div> -->
                <button class="btn btn-default" ng-show="authenticated == false &&  liked[task.title]" ng-click="likeTask(task.author + '-' + task.title);" ng-like-button>Dislike</button>
                <!-- {{'HAJOOO'+ liked[task.title]}} -->
                <button class="btn btn-default" ng-click="showComments[task.author + '-' + task.title] = !showComments[task.author + '-' + task.title]" id="commentBtn{{$index}}" ng-show="false">Read comments</button><label for="commentBtn{{$index}}">comments:{{task.comments.length}}</label>
                
<!--                <div ng-like ng-task-id="{{task.author + '-' + task.title}}"></div>-->
                
            <label>Likes:{{likes[task.title]}}</label>
                
            </div>
                
            </div>

        
        
        <div class="row" ng-show="showComments[task.author + '-' + task.title]">
            <div class="col-md-12">
                  <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
<!--                {{comments}}-->
                <div ng-show="task.comments.length == 0 && showComments[task.author + '-' + task.title]"><h4>No comments yet</h4></div>
                <div class="comments row" ng-repeat="comment in task.comments track by $index" >                 
                    <div class="col-sm-10 col-md-12 col-lg-12">
                        <p><a href="{{comments[comment].author}}">
                            {{comments[comment].author}}    
                        </a>{{comments[comment].content}}<span class="glyphicon glyphicon-remove" ng-show="comments[comment].author == loggedInUser" ng-click="removeComment(comment,task.author + '-' + task.title)"></span></p> 
                    </div>
                    
                </div>
            </div>
            </div>
            
        <div class="row">
            <div class="col-sm-3 col-md-3 col-lg-2">
                <input style="width:100%" type="text" id="{{task.author + '-' + task.title}}">
                <button class="btn btn-default" ng-click="commentTask(task.author + '-' + task.title)">Comment</button>
            </div>
        </div>
            </div>
            
        </div>
        </div>			
    </div>	

